body {
  margin: 0;
  background: rgb(0, 0, 0);
  height: 100vh;
}
#root {
  padding: 3rem;
  text-align: center;
}
#root h1 {
  font-family: "Press Start 2P", system-ui;
  color: white;
}
#root canvas {
  display: block;
  margin: 0 auto;
}
